


<div class="cart box_1" id="divGioHang">
    <a href="@Url.Action("XemGioHang","GioHang")">
        <h3>
            <div class="total">
               @ViewBag.TongTien VNĐ (<span>@ViewBag.TongSoLuong</span> SP)
            </div>
            <img src="~/Content/images/cart.png" alt="">
        </h3>
    </a>
    <p><a href="javascript:;" class="simpleCart_empty">Giỏ hàng</a></p>

</div>
